Repository TigerYY/OpenAero, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @frontend-team, @ui-team, @backend-team, @database-team, @devops-team, @qa-team, @docs-team, @security-team, @i18n-team

.github/CODEOWNERS:

# Global code owners
* @project-maintainers

# Frontend components and UI
/src/components/ @frontend-team @ui-team
/src/app/ @frontend-team
/public/ @frontend-team @ui-team

# Backend and API
/src/app/api/ @backend-team
/prisma/ @backend-team @database-team
/src/lib/db.ts @backend-team @database-team

# Configuration and infrastructure
/.github/ @devops-team @project-maintainers
/docker* @devops-team
/k8s/ @devops-team
/nginx/ @devops-team
/scripts/ @devops-team @project-maintainers

# Testing
/tests/ @qa-team @project-maintainers
/jest.config* @qa-team
/playwright.config* @qa-team

# Documentation
/DOCS/ @docs-team @project-maintainers
/README* @docs-team @project-maintainers
/PROJECT_STANDARDS.md @project-maintainers
/DEVELOPMENT.md @project-maintainers

# Security sensitive files
/.env* @security-team @project-maintainers
/src/lib/auth* @security-team @backend-team
/middleware.ts @security-team @backend-team

# Package management
/package*.json @project-maintainers
/yarn.lock @project-maintainers

# TypeScript configuration
/tsconfig*.json @project-maintainers @frontend-team

# Linting and formatting
/.eslintrc* @project-maintainers
/.prettier* @project-maintainers
/.editorconfig @project-maintainers

# Internationalization
/src/i18n/ @i18n-team @frontend-team
/messages/ @i18n-team
/public/messages/ @i18n-team

fix: 完全移除 matrix 中的 secrets 引用
  .github/workflows/ci-cd-enhanced.yml
Owners: @devops-team, @project-maintainers

fix: 简化 matrix 配置，移除 condition 字段
  .github/workflows/ci-cd-enhanced.yml
Owners: @devops-team, @project-maintainers

fix: 修复 smoke tests 步骤中的 secrets[matrix 引用
  .github/workflows/ci-cd-enhanced.yml
Owners: @devops-team, @project-maintainers

v2.0发布版
  SYSTEM_CHECK_REPORT.md
  prisma/schema.prisma
Owners: @project-maintainers, @backend-team, @database-team

商品页面完成
  DOCS/BLUE_GREEN_DEPLOYMENT.md
  DOCS/DEPLOYMENT_TO_OPENAERO_CN.md
  DOCS/植保无人机报价说明书_静态版.html
  docker-compose.blue-green.yml
  nginx/blue-green.conf
  prisma/schema.prisma
  public/images/products/f20-a-domestic-1.svg
  public/images/products/f20-a-domestic-2.svg
  public/images/products/f20-a-overseas-1.svg
  public/images/products/f20-a-overseas-2.svg
  public/images/products/f20-b-domestic-1.svg
  public/images/products/f20-b-domestic-2.svg
  public/images/products/f20-b-overseas-1.svg
  public/images/products/f20-b-overseas-2.svg
  public/images/products/f30-a-domestic-1.svg
  public/images/products/f30-a-domestic-2.svg
  public/images/products/f30-a-overseas-1.svg
  public/images/products/f30-a-overseas-2.svg
  public/images/products/f30-b-domestic-1.svg
  public/images/products/f30-b-domestic-2.svg
  public/images/products/f30-b-overseas-1.svg
  public/images/products/f30-b-overseas-2.svg
  scripts/docker-blue-green-deploy.sh
  scripts/docker-blue-green-rollback.sh
  scripts/generate-product-images.ts
  scripts/import-drone-products.ts
  scripts/update-product-components.ts
  scripts/update-product-images.ts
  src/app/[locale]/shop/products/[slug]/page.tsx
  src/app/[locale]/shop/products/page.tsx
  src/app/api/products/[id]/reviews/stats/route.ts
  src/app/api/products/[id]/route.ts
  src/app/api/products/[slug]/reviews/[reviewId]/helpful/route.ts
  src/app/api/products/[slug]/reviews/[reviewId]/replies/route.ts
  src/app/api/products/[slug]/reviews/route.ts
  src/app/api/products/[slug]/reviews/stats/route.ts
  src/app/api/products/[slug]/route.ts
  src/app/api/products/route.ts
  src/components/business/ProductCard.tsx
  src/components/business/ProductSearchFilters.tsx
Owners: @docs-team, @project-maintainers, @devops-team, @backend-team, @database-team, @frontend-team, @ui-team

商城在线发布
  DOCS/BLUE_GREEN_DEPLOYMENT.md
  public/images/products/植保无人机.jpg
  public/images/products/植保无人机30L.png
  scripts/deploy-blue-green-directory.sh
  scripts/rollback-blue-green-directory.sh
  scripts/update-30l-drone-images.ts
  scripts/update-plant-protection-drone-images.ts
  scripts/verify-30l-images.ts
  scripts/verify-plant-protection-images.ts
  src/app/[locale]/shop/products/[slug]/page.tsx
  src/app/[locale]/shop/products/page.tsx
  src/config/app.ts
  src/config/env.ts
Owners: @docs-team, @project-maintainers, @frontend-team, @ui-team, @devops-team

fix: 修复本地运行错误（ESLint 错误修复）
  package-lock.json
  src/app/api/admin/dashboard/activities/route.ts
  src/app/api/admin/dashboard/alerts/route.ts
  src/app/api/admin/dashboard/charts/route.ts
  src/app/api/admin/dashboard/quick-actions/route.ts
  src/app/api/admin/dashboard/stats/route.ts
  src/app/layout.tsx
  src/lib/creator-application.ts
  yarn.lock
Owners: @project-maintainers, @backend-team, @frontend-team

稳定发布板2.0
  .codebuddy/commands/speckit.specify.md
  .codex/prompts/speckit.specify.md
  scripts/cleanup-and-redeploy.sh
  scripts/cleanup-server-step-by-step.sh
  scripts/deploy-blue-green-directory.sh
  scripts/start-standalone.sh
  src/app/[locale]/(auth)/login/page.tsx
Owners: @project-maintainers, @devops-team, @frontend-team
