Repository TigerYY/OpenAero, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-maintainers, @frontend-team, @ui-team, @backend-team, @database-team, @devops-team, @qa-team, @docs-team, @security-team, @i18n-team

文件清理
  .DS_Store
  .eslintrc.enhanced.json
  .eslintrc.json
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc
  .prettierrc.enhanced
  DOCS/prd/status-tracking/README-en.md
  DOCS/prd/status-tracking/README-zh.md
  DOCS/prd/status-tracking/admin-dashboard-en.md
  DOCS/prd/status-tracking/admin-dashboard-zh.md
  DOCS/prd/status-tracking/creator-app-en.md
  DOCS/prd/status-tracking/creator-app-zh.md
  DOCS/prd/status-tracking/i18n-en.md
  DOCS/prd/status-tracking/i18n-zh.md
  DOCS/prd/status-tracking/solutions-en.md
  DOCS/prd/status-tracking/solutions-zh.md
  DOCS/prd/status-tracking/user-auth-en.md
  DOCS/prd/status-tracking/user-auth-zh.md
  jest.config.enhanced.js
  jest.config.js
  package-lock 2.json
  src/app/[locale]/layout.tsx
  vercel 2.json
Owners: @project-maintainers, @docs-team, @qa-team, @frontend-team

文件清理
  .DS_Store
  .eslintrc.enhanced.json
  .eslintrc.json
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .prettierrc
  .prettierrc.enhanced
  DOCS/prd/status-tracking/README-en.md
  DOCS/prd/status-tracking/README-zh.md
  DOCS/prd/status-tracking/admin-dashboard-en.md
  DOCS/prd/status-tracking/admin-dashboard-zh.md
  DOCS/prd/status-tracking/creator-app-en.md
  DOCS/prd/status-tracking/creator-app-zh.md
  DOCS/prd/status-tracking/i18n-en.md
  DOCS/prd/status-tracking/i18n-zh.md
  DOCS/prd/status-tracking/solutions-en.md
  DOCS/prd/status-tracking/solutions-zh.md
  DOCS/prd/status-tracking/user-auth-en.md
  DOCS/prd/status-tracking/user-auth-zh.md
  jest.config.enhanced.js
  jest.config.js
  package-lock 2.json
  src/app/[locale]/layout.tsx
  vercel 2.json
Owners: @project-maintainers, @docs-team, @qa-team, @frontend-team

backup: disaster recovery - optimize value flow section
  src/components/sections/ValueFlowSection.tsx
  yarn.lock
Owners: @frontend-team, @ui-team, @project-maintainers

backup: disaster recovery - optimize value flow section
  src/components/sections/ValueFlowSection.tsx
  yarn.lock
Owners: @frontend-team, @ui-team, @project-maintainers

phase1234完成
  .github/workflows/ci.yml
  messages/zh-CN.json
  next.config.js
  package.json
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/[locale]/contact/page.tsx
  vercel.json
  yarn.lock
Owners: @devops-team, @project-maintainers, @i18n-team, @frontend-team

phase1234完成
  .github/workflows/ci.yml
  messages/zh-CN.json
  next.config.js
  package.json
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/[locale]/contact/page.tsx
  vercel.json
  yarn.lock
Owners: @devops-team, @project-maintainers, @i18n-team, @frontend-team

P1234部署在线
  .env.production
  DEPLOYMENT_GUIDE.md
  Dockerfile
  MONITORING.md
  README.md
  SSL_CERTIFICATE_GUIDE.md
  deploy-docker.sh
  deploy-local-build.sh
  docker-compose.yml
  instrumentation.ts
  next.config.js
  package-lock.json
  public/images/solutions/aerial-photography-drone.jpg
  public/images/solutions/agriculture-drone.jpg
  public/images/solutions/fpv-racing-drone.jpg
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  src/app/api/solutions/route.ts
  src/app/global-error.tsx
  src/components/I18nErrorBoundary.tsx
  src/lib/monitoring.ts
  yarn.lock
Owners: @security-team, @project-maintainers, @docs-team, @devops-team, @frontend-team, @ui-team, @backend-team

修复monitoring.ts中的ESLint错误
  src/lib/monitoring.ts
Owners: @project-maintainers

清理 Git 历史中的大文件（tar.gz）
  GIT_PUSH_ISSUE_ANALYSIS.md
  GIT_PUSH_SOLUTION.md
  SOLUTION_SUMMARY.md
  fix-git-history.sh
  src/app/[locale]/contact/page 3.tsx
  src/app/[locale]/security/page 3.tsx
  src/app/admin/review-stats/page 3.tsx
  src/app/admin/review-workbench/page 3.tsx
  src/app/api/collaboration/route 3.ts
  src/app/creators/dashboard/page 3.tsx
Owners: @project-maintainers, @frontend-team, @backend-team

优化: 清理项目文件并更新配置
  .gitignore
  LARGE_FILES_ANALYSIS.md
  LARGE_FILES_SUMMARY.md
  OPTIMIZATION_COMPLETED.md
  OPTIMIZATION_RESULTS.md
  scripts/find-large-files.sh
  src/app/[locale]/contact/page 3.tsx
  src/app/[locale]/security/page 3.tsx
  src/app/admin/review-stats/page 3.tsx
  src/app/admin/review-workbench/page 3.tsx
  src/app/api/collaboration/route 3.ts
  src/app/creators/dashboard/page 3.tsx
Owners: @project-maintainers, @devops-team, @frontend-team, @backend-team

双Spec: 优化AGENTS.md文件，添加数据库操作命令、测试运行命令、开发阶段管理和质量门禁流程
  AGENTS.md
  FINAL_WORK_SUMMARY.md
  env.example
  openaero.code-workspace
  prisma/schema-postgres.prisma
  prisma/schema.prisma
Owners: @project-maintainers, @backend-team, @database-team

feat: 用户注册系统完成
  DOCS/api/auth-api-reference.md
  DOCS/authentication-system-guide.md
  DOCS/deployment-configuration.md
  DOCS/security-best-practices.md
  openspec/changes/implement-user-auth-system/design.md
  openspec/changes/implement-user-auth-system/proposal.md
  openspec/changes/implement-user-auth-system/specs/email-service/spec.md
  openspec/changes/implement-user-auth-system/specs/user-auth/spec.md
  openspec/changes/implement-user-auth-system/tasks.md
  src/__tests__/auth/auth.test.ts
  src/__tests__/components/auth/AuthGuard.test.tsx
  src/__tests__/integration/auth-integration.test.ts
  src/app/admin/audit-logs/page.tsx
  src/app/admin/permissions/page.tsx
  src/app/admin/users/page.tsx
  src/app/api/admin/audit-logs/route.ts
  src/app/api/admin/audit-logs/stats/route.ts
  src/app/api/admin/permissions/roles/route.ts
  src/app/api/admin/permissions/route.ts
  src/app/api/admin/users/route.ts
  src/app/api/auth/session/route.ts
  src/app/auth/verify-email-notice/page.tsx
  src/backend/middleware/compose.ts
  src/backend/middleware/csrf.ts
  src/backend/middleware/rateLimit.ts
  src/backend/middleware/validation.ts
  src/lib/email.ts
Owners: @docs-team, @project-maintainers, @frontend-team, @backend-team

修复代码质量问题
  src/app/api/admin/audit-logs/route.ts
  src/app/api/auth/resend-verification/route.ts
  src/middleware.ts
Owners: @backend-team, @project-maintainers

已迁移至supabase
  .env.production.backup.20251026_013851
  .env.production.backup.20251026_013924
  .env.production.backup.20251026_014827
  .env.production.backup.20251026_015707
  .env.production.backup.20251026_020824
  .env.production.backup.20251026_021109
  .env.production.backup.20251026_021245
  .env.supabase
  package-lock.json
  package.json
  src/app/api/auth/[...nextauth]/route.ts
  src/components/providers/SupabaseAuthProvider.tsx
  src/lib/supabase-auth.ts
  src/lib/supabase-types.ts
  src/lib/supabase.ts
  supabase/migrations/001_initial_schema.sql
  yarn.lock
Owners: @security-team, @project-maintainers, @backend-team, @frontend-team, @ui-team

supabase集成
  src/app/[locale]/auth/forgot-password/page.tsx
  src/app/[locale]/auth/login/page.tsx
  src/app/[locale]/auth/register/page.tsx
  src/app/[locale]/profile/page.tsx
  src/app/api/auth/login/route.ts
  src/app/api/auth/register/route.ts
  src/app/api/auth/verify-email/route.ts
  src/app/api/dev/create-test-user/route.ts
  src/app/api/dev/final-test/route.ts
  src/app/api/dev/fix-demo-user/route.ts
  src/app/api/dev/setup-test-data/route.ts
  src/app/api/dev/verify-users/route.ts
  src/app/page.tsx
  src/app/sw.js
  src/components/auth/UserAuthEntry.tsx
  src/lib/auth-client.ts
  test-login.html
Owners: @frontend-team, @backend-team, @ui-team, @security-team, @project-maintainers

feat: Supabase Auth 完美集成达到 100%
  SUPABASE_100_PERCENT_COMPLETE.md
  SUPABASE_100_PERCENT_PLAN.md
  route-diagnosis-report.json
  src/app/[locale]/(auth)/forgot-password/page.tsx
  src/app/[locale]/(auth)/register/page.tsx
  src/app/[locale]/(auth)/reset-password/page.tsx
  src/contexts/AuthContext.tsx
Owners: @project-maintainers, @frontend-team

security: 创建安全修复指南和工具
  .gitignore
  IMMEDIATE_ACTIONS_REQUIRED.md
  SECURITY_FIX_SUMMARY.md
  SECURITY_QUICK_FIX.txt
  scripts/security-cleanup.sh
Owners: @project-maintainers, @devops-team

security: 删除包含旧密码的敏感文件
  DATABASE_CONNECTION_FIX_GUIDE.md
  DATABASE_FIX_SUMMARY.md
  FINAL_PASSWORD_RESET_STEPS.md
  GET_CORRECT_PASSWORD.md
  RESET_DATABASE_PASSWORD.md
  SUPABASE_DIRECT_CONNECTION_STRING.md
  route-diagnosis-report.json
  scripts/test-db-connection.js
Owners: @project-maintainers, @devops-team

docs: 安全事件处理完成报告
  SECURITY_INCIDENT_RESOLVED.md
Owners: @project-maintainers

docs: 完整任务完成总结报告
  TASKS_COMPLETED.md
Owners: @project-maintainers

feat: 为联系页面和用户认证页面添加Header和Footer组件
  src/app/[locale]/(auth)/forgot-password/page.tsx
  src/app/[locale]/(auth)/login/page.tsx
  src/app/[locale]/(auth)/register/page.tsx
  src/app/[locale]/(auth)/reset-password/page.tsx
  src/app/[locale]/contact/ContactPageClient.tsx
Owners: @frontend-team

refactor: 完善布局框架,实现统一的Header和Footer管理
  LAYOUT_GUIDE.md
  src/app/[locale]/(auth)/forgot-password/page.tsx
  src/app/[locale]/(auth)/login/page.tsx
  src/app/[locale]/(auth)/register/page.tsx
  src/app/[locale]/(auth)/reset-password/page.tsx
  src/app/[locale]/contact/ContactPageClient.tsx
  src/app/[locale]/layout.tsx
  src/components/layout/DefaultLayout.tsx
  src/components/layout/EmptyLayout.tsx
  src/components/layout/index.ts
Owners: @project-maintainers, @frontend-team, @ui-team

docs: 添加布局框架完善完成报告
  LAYOUT_FRAMEWORK_COMPLETE.md
Owners: @project-maintainers

开始功能完善
  DOCS/phase1-testing-summary.md
  DOCS/testing-strategy-phase1.md
  route-diagnosis-report.json
  src/lib/__tests__/api-helpers.test.ts
  tests/api/admin/applications.test.ts
  tests/api/solutions.test.ts
Owners: @docs-team, @project-maintainers, @qa-team

完善页面布局
  DOCS/prd/enhanced-prd.md
  middleware.ts
  route-diagnosis-report.json
  src/app/[locale]/(auth)/error/page.tsx
  src/app/[locale]/(auth)/forgot-password/page.tsx
  src/app/[locale]/(auth)/login/page.tsx
  src/app/[locale]/(auth)/register/page.tsx
  src/app/[locale]/(auth)/reset-password/page.tsx
  src/app/[locale]/(dashboard)/profile/page.tsx
  src/app/[locale]/(dashboard)/settings/page.tsx
  src/app/[locale]/about/page.tsx
  src/app/[locale]/admin/monitoring/page.tsx
  src/app/[locale]/contact/ContactPageClient.tsx
  src/app/[locale]/contact/page.tsx
  src/app/[locale]/creators/apply/page.tsx
  src/app/[locale]/creators/apply/status/page.tsx
  src/app/[locale]/creators/apply/success/page.tsx
  src/app/[locale]/creators/dashboard/page.tsx
  src/app/[locale]/creators/page.tsx
  src/app/[locale]/creators/revenue/page.tsx
  src/app/[locale]/payment/failure/page.tsx
  src/app/[locale]/payment/success/page.tsx
  src/app/[locale]/security/alerts/page.tsx
  src/app/[locale]/security/analytics/page.tsx
  src/app/[locale]/security/devices/page.tsx
  src/app/[locale]/security/page.tsx
  src/app/[locale]/shop/products/page.tsx
  src/app/[locale]/solutions/page.tsx
  src/components/layout/Header.tsx
  src/lib/routing.ts
Owners: @docs-team, @project-maintainers, @security-team, @backend-team, @frontend-team, @ui-team

docs: 添加高优先级核心文档
  DOCS/API_DOCUMENTATION.md
  DOCS/ARCHITECTURE.md
  DOCS/DATABASE_SCHEMA.md
  DOCS/DEPLOYMENT_GUIDE.md
Owners: @docs-team, @project-maintainers

docs: 添加文档中心索引
  DOCS/README.md
Owners: @docs-team, @project-maintainers

docs: 添加中优先级核心文档
  DOCS/DEVELOPMENT_GUIDE.md
  DOCS/ORDER_PAYMENT_SYSTEM.md
  DOCS/SECURITY.md
  DOCS/SOLUTION_WORKFLOW.md
Owners: @docs-team, @project-maintainers

docs: 更新文档中心索引
  DOCS/README.md
Owners: @docs-team, @project-maintainers

修复认证和创作者档案问题
  prisma/FIX_VERIFICATION_STATUS.md
  prisma/add_verification_status.sql
  src/app/[locale]/admin/applications/page.tsx
  src/app/[locale]/admin/dashboard/page.tsx
  src/app/[locale]/admin/permissions/page.tsx
  src/app/api/admin/dashboard/activities/route.ts
  src/app/api/admin/dashboard/alerts/route.ts
  src/app/api/admin/dashboard/charts/route.ts
  src/app/api/auth/sync-session/route.ts
  src/app/api/creators/dashboard/recent-orders/route.ts
  src/app/api/creators/dashboard/recent-solutions/route.ts
  src/app/api/creators/dashboard/revenue/route.ts
  src/app/api/creators/dashboard/stats/route.ts
  src/app/api/creators/solutions/route.ts
  src/app/api/revenue/route.ts
  src/app/api/revenue/withdraw/route.ts
  src/app/api/solutions/mine/route.ts
  src/app/api/solutions/route.ts
  src/components/admin/ActivityFeed.tsx
  src/components/admin/AlertPanel.tsx
  src/components/admin/DashboardCharts.tsx
  src/lib/auth/auth-service.ts
  src/lib/auth/supabase-client.ts
  src/lib/creator-application.ts
  src/lib/creator-profile-utils.ts
  src/lib/prisma.ts
Owners: @backend-team, @database-team, @frontend-team, @ui-team, @security-team, @project-maintainers

创作者仪表板修复
  src/app/api/creators/dashboard/revenue/route.ts
  src/app/api/creators/dashboard/stats/route.ts
  src/app/api/creators/solutions/route.ts
Owners: @backend-team

方案审核优化中
  DOCS/solution-workflow-complete.md
  logs.md
  prisma/add_status_transition_fields.sql
  prisma/schema.prisma
  src/app/[locale]/admin/dashboard/page.tsx
  src/app/[locale]/admin/review-workbench/page.tsx
  src/app/[locale]/admin/solutions/page.tsx
  src/app/[locale]/creators/dashboard/page.tsx
  src/app/[locale]/creators/solutions/[id]/edit/page.tsx
  src/app/[locale]/creators/solutions/new/page.tsx
  src/app/[locale]/creators/solutions/page.tsx
  src/app/api/admin/dashboard/stats/route.ts
  src/app/api/admin/solutions/[id]/review/route.ts
  src/app/api/admin/solutions/route.ts
  src/app/api/creators/dashboard/recent-orders/route.ts
  src/app/api/creators/dashboard/recent-solutions/route.ts
  src/app/api/solutions/[id]/assets/route.ts
  src/app/api/solutions/[id]/bom/route.ts
  src/app/api/solutions/[id]/route.ts
  src/app/api/solutions/[id]/submit/route.ts
  src/app/api/solutions/mine/route.ts
  src/backend/solution/solution.service.ts
  src/components/admin/ActivityFeed.tsx
  src/components/admin/AlertPanel.tsx
  src/components/auth/UserMenu.tsx
  src/components/business/AdvancedSearch.tsx
  src/components/business/PaymentModal.tsx
  src/components/creators/SolutionsList.tsx
  src/components/layout/AdminLayout.tsx
  src/components/layout/EnhancedMobileNavigation.tsx
  src/components/security/SecurityDashboard.tsx
  src/components/shop/CartDrawer.tsx
  src/components/solutions/BomForm.tsx
  src/components/ui/Dialog.tsx
  src/lib/prisma.ts
  src/lib/solution-review.ts
  src/lib/solution-status-workflow.ts
  src/lib/supabase-server-auth.ts
  src/lib/utils.ts
  src/lib/validations.ts
Owners: @docs-team, @project-maintainers, @backend-team, @database-team, @frontend-team, @ui-team

修复审核工作台查看详情对话框的双重弹出问题和语法错误
  src/app/[locale]/admin/review-workbench/page.tsx
Owners: @frontend-team

顺利上架展示
  .codex/prompts/speckit.tasks.md
  .cursor/commands/speckit.tasks.md
  jest.setup.js
  logs.md
  openspec/changes/upgrade-solution-lifecycle/tasks.md
  playwright.config.ts
  src/app/[locale]/admin/review-workbench/page.tsx
  src/app/[locale]/admin/solutions/[id]/optimize/page.tsx
  src/app/[locale]/solutions/page.tsx
  src/app/api/admin/solutions/[id]/optimize/route.ts
  src/app/api/solutions/route.ts
  src/components/business/SolutionCard.tsx
  src/lib/__tests__/api-helpers.test.ts
  src/lib/__tests__/database.test.ts
  src/lib/__tests__/seo.test.ts
  src/lib/__tests__/solution-status-workflow.test.ts
  test-results.json
  tests/api/solutions.test.ts
  tests/e2e/README.md
  tests/e2e/admin-batch-operations.spec.ts
  tests/e2e/admin-solution-optimize.spec.ts
  tests/e2e/creator-solution-upgrade.spec.ts
  tests/e2e/helpers/auth-helpers.ts
  tests/e2e/helpers/test-data.ts
  tests/integration/api.test.ts
  tests/integration/solution-optimize.test.ts
  tests/integration/solution-upgrade.test.ts
  tests/lib/solution-batch-operations.test.ts
  tests/lib/solution-upgrade-logic.test.ts
  tests/setup/test-env.js
Owners: @project-maintainers, @qa-team, @frontend-team, @backend-team, @ui-team

解决方案10上线
  scripts/seed-drone-solutions.ts
  scripts/update-drone-images.ts
  src/app/[locale]/solutions/page.tsx
  src/app/api/solutions/route.ts
  src/components/business/SearchFilters.tsx
  src/components/business/SolutionCard.tsx
Owners: @devops-team, @project-maintainers, @frontend-team, @backend-team, @ui-team

方案图片确定
  scripts/README-AI-IMAGE-GENERATION.md
  scripts/generate-drone-images-ai.ts
  scripts/update-drone-images-final.ts
  scripts/update-drone-images-pexels.ts
  scripts/update-drone-images-v2.ts
  scripts/update-drone-images-v3.ts
  src/components/business/SolutionCard.tsx
Owners: @devops-team, @project-maintainers, @frontend-team, @ui-team

国际化修复
  DOCS/i18n-status-report.md
  messages/en-US.json
  messages/zh-CN.json
  scripts/check-i18n-status.ts
  src/app/[locale]/(auth)/login/page.tsx
  src/app/[locale]/about/page.tsx
  src/app/[locale]/contact/ContactPageClient.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/shop/page.tsx
  src/app/[locale]/shop/products/page.tsx
  src/app/[locale]/solutions/page.tsx
  src/app/layout.tsx
  src/components/MobileForm.tsx
  src/components/MobileFormField.tsx
  src/components/forms/ContactForm.tsx
  src/components/layout/ClientHeader.tsx
  src/components/layout/ClientLanguageSwitcher.tsx
  src/components/layout/Footer.tsx
  src/components/layout/Header.tsx
Owners: @docs-team, @project-maintainers, @i18n-team, @devops-team, @frontend-team, @ui-team

添加 Supabase 部署脚本和文档，修复 ESLint 错误
  .eslintrc.json
  src/app/[locale]/shop/products/page.tsx
  src/components/layout/ClientLanguageSwitcher.tsx
Owners: @project-maintainers, @frontend-team, @ui-team

fix: 修复 GitHub Actions 工作流中的 secrets 引用错误
  .github/workflows/ci-cd-enhanced.yml
Owners: @devops-team, @project-maintainers

fix: 修复 matrix 配置中的 secrets 引用
  .github/workflows/ci-cd-enhanced.yml
Owners: @devops-team, @project-maintainers

.github/CODEOWNERS:

# Global code owners
* @project-maintainers

# Frontend components and UI
/src/components/ @frontend-team @ui-team
/src/app/ @frontend-team
/public/ @frontend-team @ui-team

# Backend and API
/src/app/api/ @backend-team
/prisma/ @backend-team @database-team
/src/lib/db.ts @backend-team @database-team

# Configuration and infrastructure
/.github/ @devops-team @project-maintainers
/docker* @devops-team
/k8s/ @devops-team
/nginx/ @devops-team
/scripts/ @devops-team @project-maintainers

# Testing
/tests/ @qa-team @project-maintainers
/jest.config* @qa-team
/playwright.config* @qa-team

# Documentation
/DOCS/ @docs-team @project-maintainers
/README* @docs-team @project-maintainers
/PROJECT_STANDARDS.md @project-maintainers
/DEVELOPMENT.md @project-maintainers

# Security sensitive files
/.env* @security-team @project-maintainers
/src/lib/auth* @security-team @backend-team
/middleware.ts @security-team @backend-team

# Package management
/package*.json @project-maintainers
/yarn.lock @project-maintainers

# TypeScript configuration
/tsconfig*.json @project-maintainers @frontend-team

# Linting and formatting
/.eslintrc* @project-maintainers
/.prettier* @project-maintainers
/.editorconfig @project-maintainers

# Internationalization
/src/i18n/ @i18n-team @frontend-team
/messages/ @i18n-team
/public/messages/ @i18n-team
